<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite name="Unit">
            <file>tests/UnitTest.php</file>
        </testsuite>
        <testsuite name="Integration">
            <file>tests/IntegrationTest.php</file>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">public/src</directory>
        </include>
    </source>

    <coverage>
        <report>
            <html outputDirectory="coverage/html"/>
            <clover outputFile="coverage/clover.xml"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>

    <php>
        <env name="APP_ENV"       value="test"/>
        <env name="DB_HOST"       value="127.0.0.1"/>
        <env name="DB_PORT"       value="3306"/>
        <env name="DB_NAME"       value="uysa_test"/>
        <env name="DB_USER"       value="root"/>
        <env name="DB_PASS"       value=""/>
        <env name="API_TOKEN"     value="test-api-token-for-ci-12345"/>
        <env name="JWT_SECRET"    value="test-jwt-secret-minimum-32-chars-here!!"/>
        <env name="TEST_API_URL"  value="http://localhost:8080/uysa_api.php"/>
    </php>
</phpunit>
